<!DOCTYPE html>
<html>
    <head>
        <title>이미지</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      </head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/image">이미지</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/join">회원가입</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/login">로그인</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/">메인페이지</a>
          </li>
        </ul>
    </nav>

<h2>이미지</h2>
<p>카메라</p>

<img src="https://img1.daumcdn.net/thumb/R800x0/?scode=mtistory2&fname=https%3A%2F%2Ft1.daumcdn.net%2Fcfile%2Ftistory%2F2438573358070C1535" alt="W3Schools.com">

</body>
</html>
